* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg_primary-color: #DADBD3;
    --bg_secondary-color: #009688;
    --call-to-action-color: #8EDAFC;
    --user-message-bg_color: #D5F9BA;
    --main-interface-color: #F3EEEA;
    --main-interface-element-color: #6B7376;
}

body {
    background: linear-gradient(to bottom, rgba(0,150,136,1) 20%, rgba(218,219,211,1) 20%, rgba(218,219,211,1) 100%);
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
} 

.bg_color {
    background-color: var(--bg_secondary-color);
    width: 100%;
    height: 150px;
}

.web-app-main-container {
    width: 80%;
    height: 95vh;
    margin: 1rem auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: 1px solid black;
}

.main-container-aside {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.main-container-body {
    width: 60%;
    height: 100%;
    background: url('../img/mine.jpg');
}

.aside-header {
    width: 100%;
}

.user, .user-info {
    display: flex;
    align-items: center;
    background-color: var(--main-interface-color);
}

.user {
    justify-content: space-between;
    height: 80px;
}

.user-info {
    padding: .5rem 1rem;
}

.user-actions {
    padding: .5rem 1rem;
}

.user-actions i {
    margin-left: 10px;
    color: var(--main-interface-element-color);
    cursor: pointer;
}

.user-img, .contact-pic, .active-contact-img {
    width: 50px;
    border-radius: 50%;
    display: block;
    margin-left: .5rem;
}

.aside-search-bar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.search-bar-icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 90%;
}

.search-bar > input {
    width: 100%;
    height: 40px;
    border: none
}

.turn-on-notifications {
    width: 100%;
    height: 80px;
    background-color: var(--call-to-action-color);
    display: flex;
    align-items: center;
}
.turn-on-notifications > i {
    font-size: 1.5rem;
    color: var(--call-to-action-color);
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    float: left;
    clear: both;
    margin-left: 1rem;
}

.cta-text {
    margin-left: 1rem;
}

.cta-text a {
    color: #6B7376;
}

.contact-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.contact {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.contact-chat {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.active {
    background-color: var(--main-interface-color);
}

.contact-message {
    color: var(--main-interface-element-color);
}

.contact-hour {
    color: lightgray;
    position: absolute;
    top: 5px;
    right: 10px;
}

.contact-name, .contact-message {
    margin-left: .5rem;
}

.main-body-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.active-contact-info-container {
    display: flex;
}

.last-acces {
    color: var(--main-interface-element-color);
    margin-left: 8px;
}

.active-contact-actions * {
    margin-right: 10px;
    cursor: pointer;
    padding: .5rem;
    color: var(--main-interface-element-color);
}

.chat {
    height: calc(100% - 160px);
    overflow: auto;
}

.message {
    width: fit-content;
    padding: 1rem .5rem;
    border-radius: .5rem;
    background-color: #009688;
    position: relative;
    cursor: pointer;
}

.sent-message {
    background-color: var(--user-message-bg_color);
    float: right;
    clear: both;
    margin: 0.5rem 2rem;
}

.received-message {
    background-color: #fff;
    float: left;
    clear: both;
    margin: 0.5rem 2rem;
}

.message-actions {
    background-color: lightgray;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: .5rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.message-actions ul li {
    list-style: none;
    text-align: center;
    margin: 5px 0;
}

.hidden {
    display: none;
}

.user-input-bar {
    background-color: var(--bg_primary-color);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.emojis, .rec {
    width: 10%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-bar {
    width: 80%;
    flex-shrink: 1; 
}

.emojis > i, .rec i  {
    color: var(--main-interface-element-color);
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
}

.message-bar > input {
    width: 100%;
    height: 40px;
    border: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
}